<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'main33.css' %}">
</head>
<body>


    <header>
            <div class="a111">
            <h1>Welcome your Detail</h1>
            <a style="width: 50 px; height: 30px;margin-top: 50px" href="{% url 'list_category' %}">Menu</a>
            <a style="width: 50 px; height: 30px;margin-top: 50px"  href="{% url 'delete_category' object.id %}">Delete</a>
            <a style="width: 50 px; height: 30px;margin-top: 50px" href="{% url 'update_category' object.id %}">Update</a>
    </div>
    </header>
    {% block content %}
    <div class="container">
            <div class="card">
                <h3>Name: {{category.name}}</h3>


            </div>
        </div>
<div class="ssss"> 
        {% for vakan in vakansi %}
        <tr> <hr><hr>
        <h3>Title: {{ vakan.title }}</h3>
        <h3>Desctiption: {{ vakan.description }}</h3>
        <h3>Price: {{ vakan.price }}</h3>
        <h3>Category: {{ vakan.category }}</h3>
        </tr>
        {% endfor %}
    </div>

{% endblock content %}
</body>
</html>
