<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>


    <header>
            <div class="a111">
            <h1>Welcome your Detail</h1>
            <a style="width: 50 px; height: 30px;margin-top: 50px" href="{% url 'list_w' %}">Menu</a>
            <a style="width: 50 px; height: 30px;margin-top: 50px"  href="{% url 'delete_w' object.id %}">Delete</a>
            <a style="width: 50 px; height: 30px;margin-top: 50px" href="{% url 'update_w' object.id %}">Update</a>
    </div>
    </header>
    {% block content %}
    <div class="container">
            <div class="card">
                
                <h3>Name: {{object.name}}</h3>
                <h3>Email: {{object.email}}</h3>
                <h3>Phone number: {{object.phone_number}}</h3>
                <h3>Date joined: {{object.date_joined}}</h3>
                <h3>Salary: {{object.salary}}</h3>
                <h3>Description: {{object.desc}}</h3>

            </div>
        </div>


{% endblock content %}
</body>
</html>
