<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'index2.css' %}">
</head>
<body>

    <div class="a1">
        <h1>Vakansi</h1>
        <div class="base">
        <!-- <a href="http://127.0.0.1:8000/Rohbar_information"><h3 class="sa">Category</h3></a> -->
        <a href="{% url 'base' %}"><h3 class="sas">Home</h3></a>
        <a href="{% url 'create_vakan' %}"><h3 class="sas">Add</h3></a>
    </div>
    </div>


<div class="b1">
        <table>
            <caption> <h3>Vakansi</h1> </caption>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                <th>Detail</th>
            </tr>
        {% for vakan in object_list %}
        <tr>
    <td style="width: 25%;"><img style="width: 50%;  " src="{{ vakan.image }}" alt=""></td>
        <td>{{ vakan.title }}</td>
        <td>{{ vakan.description }}</td>
        <td>{{ vakan.price }}</td>
        <td>{{ vakan.category }}</td>
        <td><a href="{% url 'detail_vakan' vakan.id %}">Get</a></td>
        </tr>
        {% endfor %}
        </table>
        </div>
<br><br><br>
    </head>
    <body>