<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'index2.css' %}">
</head>
<body>

    <div class="a1">
        <h1>Worker</h1>
        <div class="base">
        <!-- <a href="http://127.0.0.1:8000/Rohbar_information"><h3 class="sa">Category</h3></a> -->
        <a href="{% url 'base' %}"><h3 class="sas">Home</h3></a>
        <a href="{% url 'create_w' %}"><h3 class="sas">Add</h3></a>
    </div>
    </div>


<div class="b1">
        <table>
            <caption> <h3>Worker</h1> </caption>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone number</th>
                <th>Date</th>
                <th>Salary</th>
                <th>Company</th>
                <th>Detail</th>
            </tr>
        {% for vakan in object_list %}
        <tr>
        <td>{{ vakan.name }}</td>
        <td>{{ vakan.email }}</td>
        <td>{{ vakan.phone_number }}</td>
        <td>{{ vakan.date_joined }}</td>
        <td>{{ vakan.salary }}</td>
        <td>{{ vakan.company }}</td>
        <td><a href="{% url 'detail_w' vakan.id %}">Get</a></td>
        </tr>
        {% endfor %}
        </table>
        </div>
<br><br><br>
    </head>
    <body>